<% provide(:title, 'A Propos' )%>
<h1>A Propos</h1>
<p>
	<a href="http://sagir.herokuapp.com">Mon epicerie</a> est une application
	qui permet &agrave; ses utilisateurs d'&eacute;pargner beaucoup de temps et d'argent
	en affichant une liste des meilleurs prix disponibles des articles de leurs listes
	d'&eacute;picerie.
</p>
