<% provide(:title, 'Acceuil')%>
<h1>Mon epicerie</h1>
<p>
	Ceci est la page d'acceuil de l'application "Mon epicerie" pour la recherche du plus bas prix.
	<a href="http://sagir.herokuapp.com/static_pages/home">Mon epicerie</a>
</p>