<div class="center hero-unit">
	<h1>Mon epicerie</h1>
	
	<h2>
		Ceci est la page d'acceuil de l'application "Mon epicerie" pour la recherche du plus bas prix.
		<a href="http://localhost:3000/static_pages/home">Mon epicerie</a>
	</h2>
	
	<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>
