<footer>
	<small>
		<a href="#">Mon epicerie</a>
	</small>
	<nav>
		<ul>
			<li><%= link_to "A propos", about_path %></li>
			<li><%= link_to "Contactez-nous",  contact_path %></li>
			<li><a href="#">Nouvelles</a></li>
		</ul>
	</nav>
</footer>
