<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="navbar-inner">
		<div class="container">
			<%= link_to "Mon Epicerie", '#', id: "logo" %>
			<nav>
				<ul class="nav pull-right">
					<li><%= link_to "Acceuil", root_path %></li>
					<li><%= link_to "Aide", help_path %></li>
					<li><%= link_to "Connexion", '#' %></li>
				</ul>
			</nav>
		</div>>
	</div>
</header>